body {
	background-color: #232323;
}

#container {
	margin: 0px auto;
	max-width: 600px;
}

span {
    color: white;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
    margin: 1.66%;
    cursor: pointer;
}


h1 {
    color: white;
}